* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#notfound {
    position: relative;
    height: 100vh;
    background-color: #222;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.notfound {
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

.notfound .notfound-404 {
    height: 158px;
    line-height: 153px;
}

.notfound .notfound-404 h1 {
    font-family: 'M PLUS Rounded 1c',sans-serif!important;
    color: #222;
    font-size: 220px;
    letter-spacing: 10px;
    margin: 0px;
    font-weight: 700;
    text-shadow: 2px 2px 0px #5bc0de, -2px -2px 0px #5bc0de;
}

.notfound p {
    font-family: 'M PLUS Rounded 1c',sans-serif!important;
    color: #c9c9c9;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn{
    border: 1px solid transparent;
    color:white;
    background-color: #5bc0de;
    padding: 10px 28px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 12px;
}
.btn:hover{
    color:#5bc0de;
    border: 1px solid #5bc0de;
    background-color: transparent;
    transition: color .45s, border .45s;
}
.notfound a {
    font-family: 'M PLUS Rounded 1c',sans-serif!important;
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.notfound a:hover {
    color: #5bc0de;
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 122px;
        line-height: 122px;
    }

    .notfound .notfound-404 h1 {
        font-size: 122px;
    }
}
